/*hamburger menu styling*/
#menu-toggle span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-toggle {
  padding: 3px 8px 3px 8px;
  margin: 15px 10px;
  width: 60px;
  height: 45px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}

.fixed {
  position: fixed;
  z-index: 10001;
}

#menu-toggle span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-toggle span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-toggle span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-toggle.toggled span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#menu-toggle.toggled span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-toggle.toggled span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

/******WRAPPER STYLES*******/
#wrapper {
  padding-left: 0;
  /*transitions*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000; /* maybe not needed*/
  position: fixed; /*sidebar is position fixed*/
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  /*transition*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*******PAGE CONTENT STYLES********/
.col-md-12 {
  position: static;
}

#page-content-wrapper {
  width: 100%;
  position: absolute; /*page content is absolute (mobile) and relative (desktop)*/
  padding: 0px;
}

.page-content {
  text-align: center;

}

.page-content h1 {
  font-size: 4em;
  font-weight: normal;
  margin: 100px auto 50px auto;
}

.page-content p {
  font-size: 1.2em;
}

.intro-content {
  max-width: 70%;
  margin: auto;
}

.fa-chevron-down {
  position: absolute;
  top: 90vh;
  left: 185px;
  /*margin-top: 75%;*/
  font-size: 3em;
  color: #fff;
}

#home {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/heroimage-blur.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

#portfolio {
  min-height: 100vh;
}

#portfolio, #contact {
  background: #f1f1f1;
}


.project-panel {
  /*background: #fff;*/
  max-width: 85%;
  margin: 30px auto 50px auto;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;

}

.project-panel img {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  /*box-shadow: 1px 1px 5px;*/
  /*border-bottom: 1px solid #ddd;*/
}

.project-panel h3 {
  margin: 10px auto;
}

.project-description {
  text-align: justify;
  padding: 0 10px;
}

.project-panel a {
  float: right;
  margin: 10px;
}

.btn-default {
  background: none;
  border: 1px solid #000;
}

#about-me {
  background: #333;
  color: #fff;
  font-weight: lighter;
}

#about-me p {
  text-align: left;
}

#about-me h2 {
  margin: 10px auto 20px auto;
}

#about-me img {
  width: 100%;
  border-radius: 5px;
}

.contact-info p {
  text-align: left;
}

.contact-icons {
  font-size: 2em;
}

.contact-icons a {
  color: #000;
  text-decoration: none;
}

/********TOGGLED STYLES - APPLIED TO WRAPPERS**********/

/*this is actually necessary at 250px for mobile view*/
#wrapper.toggled {
  padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #page-content-wrapper {
  /*is this necessary?*/
  position: absolute;
  margin-right: -250px;
}

/*toggled hamburger styling to black*/
/*#menu-toggle.toggled {
  background: #000;
  border: 1px solid #999;
}*/

/*#menu-toggle.toggled .hamburger {
  background: #999;
}*/

/*******SIDEBAR STYLING*******/
.sidebar-nav {
  position: absolute; /*the sidebar ul ALSO has absolute position*/
  top: 0;
  width: 250px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  text-align: right;
  padding-right: 40px;
  font-size: 1.2em;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}

.sidebar-nav a.selected {
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.sidebar-brand {
  font-size: 1.6em;
  text-align: center;
  color: #fff;
}

.sidebar-brand img {
  border-radius: 50%;
  max-width: 60%;
  display: block;
  height: auto;
  margin: auto;
}

/*one more sidebar style needed for sidebar-brand*/

/*MEDIA QUERY - CREATES THE DESKTOP STYLING - MOBILE IS DEFAULT*/
@media(min-width:768px) {
  .fa-chevron-down {
    left: auto;
  }

  #wrapper {
    padding-left: 250px;
  }

  /*toggled in desktop will close the sidebar*/
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 0px;
    position: relative;
  }

  #page-content-wrapper .container-fluid {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #menu-toggle {
    margin: 5px;
  }

  #menu-toggle span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  #menu-toggle span:nth-child(2) {
    top: 18px;
    width: 0%;
    opacity: 0;
  }

  #menu-toggle span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

  #menu-toggle.toggled span:nth-child(2) {
    opacity: 1;
    width: 100%;
  }

  #menu-toggle.toggled span:nth-child(1) {
    top: 0px;
    left: 0;
    transform: rotate(0deg);
  }

  #menu-toggle.toggled span:nth-child(3) {
    top: 36px;
    left: 0;
    transform: rotate(0deg);
  }

}
